*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

 header{
     background-color: #129799;
     height: 91.6vh;
     color:#F7F7F7;
 }
 ul{
     margin-left: 20px;
     list-style: none;
     display: flex;
     justify-content: space-evenly;
     cursor: pointer;
 }
 
 section{
     display: flex;
     align-items: center;
     height: 80%;
 }
 h1{
    color:#F7F7F7;
    font-size:64px;
    display: flex;
    align-items: center;
 }

 .ebook{
    margin-left: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
 }

 main{
     background-color: #ffa185;
     height: 1239px;
 }
 .aquarela{
     display: flex;
     align-items: flex-start;
     flex-direction: column;
     height: 20vh;
     width: 80vh;
     margin-left: 20px;
      
}
 h2{
     color: #F7F7F7;
     font-size: 48px;
 }

 img {
    max-width: 100%;
    max-height: 100%;
   }
   .imagens {
    height: 200px;
    width: 200px;
   }

 footer{
     background-color: #129799;
     height: 80px;
 }
 